<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<body id="page-top" class="index">
    <!-- Header -->
    <header layout:fragment="content" data-ng-app="tweetguess">
        <div class="container" data-ng-controller="categoryController">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Select a category</span>
                        <div style="height: 60px;"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                                <button class="btn btn-info btn-lg btn-block">Music</button>
                                <button class="btn btn-info btn-lg btn-block">Politics</button>
                                <button class="btn btn-info btn-lg btn-block">Celebrities</button>
                                <br/>
                                <a href="#">More...</a><br/>
                                US | <a href="#">Change region</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
