<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default" data-ng-app="tweetguess">
<body id="page-top" class="index" data-ng-controller="mainController">
    <!-- Header -->
    <th:block layout:fragment="content">
        <header data-ng-include="view"></header>
    </th:block>
    <th:block layout:fragment="templates">
        <script type="text/ng-template" id="loading" th:include="partial/loading :: content"></script>
        <script type="text/ng-template" id="question" th:include="partial/question :: content"></script>
        <script type="text/ng-template" id="category" th:include="partial/category :: content"></script>
        <script type="text/ng-template" id="index" th:include="partial/index :: content"></script>
        <script type="text/ng-template" id="leaderboard" th:include="partial/leaderboard :: content"></script>
    </th:block>
</body>
</html>
