<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<body id="page-top" class="index">
    <!-- Header -->
    <header layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="skills">Who tweeted this?</span>
                        <div style="height: 20px;"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-md-offset-2">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <div class="jumbotron">&ldquo;<span id="tweet">Sample tweet text..</span>&rdquo;</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-xs-6 choice">
                                        <button class="btn btn-info btn-lg btn-block">
                                            <img src="img/profile.png"/>
                                            <p>Can Bulut Bayburt<br/><span>@canbulutb</span></p>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 choice">
                                        <button class="btn btn-info btn-lg btn-block">
                                            <img src="img/profile.png"/>
                                            <p>Aykut Akın<br/><span>@aykutakin</span></p>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 choice">
                                        <button class="btn btn-info btn-lg btn-block">
                                            <img src="img/profile.png"/>
                                            <p>Can Bulut Bayburt<br/><span>@canbulutb</span></p>
                                        </button>
                                    </div>
                                    <div class="col-xs-6 choice">
                                        <button class="btn btn-info btn-lg btn-block">
                                            <img src="img/profile.png"/>
                                            <p>Aykut Akın<br/><span>@aykutakin</span></p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>1/10</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
