[Unit]
Description=tweetguess-web
After=syslog.target

[Service]
ExecStart=/home/tweetguess/tweetguess/web/target/tweetguess.war
User=tweetguess
Restart=always

[Install]
WantedBy=multi-user.target