<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body id="page-top" class="index">
<!-- Header -->
<header th:fragment="content">
    <div class="container" th:attr="data-ng-init=${'timer.max = ' + timeLimitMillis + ';constants.numQuestions = ' + questionsPerGame}">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt=""/>
                <div class="intro-text">
                    <span class="name">Tweet<span class="text-info">Guess</span></span>
                    <span class="skills" th:utext="#{main.title}">A Twitter <i class="fa fa-twitter"></i> Quiz Game</span>
                    <hr class="star-light"/>
                    <form name="userForm" data-ng-submit="$parent.startGame()" novalidate="novalidate">
                        <div class="row control-group text-center">
                            <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4">
                                <input data-ng-model="user.username" data-ng-class="{ 'has-error' : userForm.username.$invalid &amp;&amp; !userForm.username.$pristine }" class="form-control input-lg" type="text" id="username" name="username" th:placeholder="#{main.username.placeholder}" required="required" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4">
                                <button data-ng-disabled="userForm.$invalid" class="btn btn-info btn-lg btn-block" th:text="#{main.start}">Start playing</button>
                                <br/>
                                <th:block th:text="#{lang}"></th:block> | <a href="#langModal" data-toggle="modal" th:text="#{main.changelanguage}">Change language</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
