<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body id="page-top" class="index">
    <!-- Header -->
    <header th:fragment="content">
        <div class="container" data-ng-controller="leaderboardController">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Leaderboard</span>
                        <hr class="star-light"/>
                        <span class="skills">Weekly Top Scores</span>
                        <div style="height: 40px;"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-md-offset-2">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th class="text-center">User</th>
                                            <th class="text-center">Correct guesses</th>
                                            <th class="text-center">Score</th>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td>canbulutb</td>
                                            <td>123</td>
                                            <td>4567</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="height:60px;"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                                <button class="btn btn-info btn-lg btn-block">Play again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
